@{
    ViewBag.Title = "Phản Hồi";
}


<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(/Content/Home/images/1.jpg)">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-center">


                <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
                    <span class="intro-text-small">Homestay-Hina Sự Phục Vụ Tận Tình !</></span>
                    <h1 class="cursive-font">Say hello!</h1>
                </div>

            </div>

        </div>
    </div>
    </div>
</header>



<div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 animate-box">
                    <h3>Gửi Phản Hồi</h3>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        QLKS.Models.tblKhachHang kh = (QLKS.Models.tblKhachHang)Session["KH"];
                        if (kh == null)
                        {
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label class="sr-only" for="name">Name</label>
                                    @*<input type="text" id="name" class="form-control" placeholder="Your firstname">*@
                                    @Html.TextBox("ho_ten", null, new { @class = "form-control", placeholder = "Họ và Tên" })
                                </div>

                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label class="sr-only" for="email">Email</label>
                                    @*<input type="text" id="email" class="form-control" placeholder="Your email address">*@
                                    @Html.TextBox("mail", null, new { @class = "form-control", placeholder = "Địa Chỉ Email" })
                                </div>
                            </div>
                        }

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="sr-only" for="message">Message</label>
                                @*<textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Write us something"></textarea>*@
                                @Html.TextArea("noi_dung", null, new { @class = "form-control", placeholder = "Nội Dung", cols = "30", rows = "10" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="sr-only" for="danh_gia">Đánh giá</label>
                                <div class="stars">
                                    <div>
                                        <input class="star star-5" id="star-5" type="radio" name="danh_gia" value="5" />
                                        <label class="star star-5" for="star-5"></label>
                                        <input class="star star-4" id="star-4" type="radio" name="danh_gia" value="4" />
                                        <label class="star star-4" for="star-4"></label>
                                        <input class="star star-3" id="star-3" type="radio" name="danh_gia" value="3" />
                                        <label class="star star-3" for="star-3"></label>
                                        <input class="star star-2" id="star-2" type="radio" name="danh_gia" value="2" />
                                        <label class="star star-2" for="star-2"></label>
                                        <input class="star star-1" id="star-1" type="radio" name="danh_gia" value="1" />
                                        <label class="star star-1" for="star-1"></label>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input onclick="return checkSMS()" type="submit" value="Gửi" class="btn btn-primary">
                        </div>

                    }
                </div>


                <div class="col-md-5 col-md-push-1 animate-box">

                    <div class="gtco-contact-info">
                        <h3>Địa Chỉ</h3>
                        <ul>
                            <li class="address">211 Đ.Hùng Vương, Phường 11, Thành phố Đà Lạt, Lâm Đồng <br>Thành phố Đà Lạt, Lâm Đồng</li>
                            <li class="phone"><a href="tel://0869798327">+ 0869798327</a></li>
                            <li class="email"><a href="mailto:info@yoursite.com">admin@ghomestay.coms</a></li>
                            <li class="url"><a href="http://HomestayHina.com">HomestayHina.Com</a></li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'>

<script>
    function checkSMS() {
        var ht = $('#ho_ten');
        var mail = $('#mail');
        if (ht != null && ht.val() == "") {
            alert('Vui lòng nhập họ và tên!');
            return false;
        }
        if (mail != null && mail.val() == "") {
            alert('Vui lòng nhập email!');
            return false;
        }
        var nd = $('#noi_dung').val();
        if (nd.length < 10) {
            alert('Nội dung quá ngắn!');
            return false;
        } else if (nd.length >= 500) {
            alert('Nội dung quá dài!');
            return false;
        }
        var danhGia = $('input[name="danh_gia"]:checked').val();
        if (danhGia == null) {
            alert('Vui lòng chọn đánh giá sao!');
            return false;
        }
        return true;
    }
</script>
<style>
    div.stars {
        width: 270px;
        display: inline-block;
    }

    input.star {
        display: none;
    }

    label.star {
        float: right;
        padding: 10px;
        font-size: 36px;
        color: #f2f53c;
        transition: all .2s;
    }

    input.star:checked ~ label.star:before {
        content: '\f005';
        color: #FD4;
        transition: all .25s;
    }

    input.star-5:checked ~ label.star:before {
        color: #FE7;
        text-shadow: 0 0 20px #952;
    }

    input.star-1:checked ~ label.star:before {
        cocolor: #fbff01;
    }

    label.star:hover {
        transform: rotate(-15deg) scale(1.3);
    }

    label.star:before {
        content: '\f006';
        font-family: FontAwesome;
    }

</style>