@{
    ViewBag.Title = "Trang Chủ ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Home/js/danhgia.js"></script>

<header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(/Content/Home/images/1.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-left"
                <div class="row row-mt-15em">
                    <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
                        <span class="intro-text-small">Homestay Đà Lạt !</span>
                        <h1 class="cursive-font">Hina HOMSTAY!</h1>
                        <h3 class="cursive-font">Hina HomeStay Đà Lạt mang phong cách một ngôi nhà xanh đúng nghĩa. Với không gian yên bình, tĩnh mịch bởi những khóm hoa, chậu cây xếp quanh căn nhà. Phong cách thiết kế sáng tạo, độc đáo với gam màu xanh trắng tạo nên sự trẻ trung, năng động cho căn phòng. Chính vì vậy mà Hina HomeStay Đà Lạt luôn thu hút giới trẻ lựa chọn và đến trải nghiệm.</h3>

                            </div>
                        </div>
                </div >

            </style>
        </div>
    </div>
    </div>
</header>
<div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2 class="cursive-font primary-color">Thông Tin</h2>
                <p>HomeStay Hina -Đà Lạt  nằm ven thung lũng cạnh bên một rừng thông lãng mạn. Từ Homestay, quý khách chỉ đi mất vài phút để di chuyển đến các địa điểm vui chơi và trung tâm thành Phố Đà Lạt</p>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Content/Home/images/p4.jpg" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="~/Content/Home/images/p4.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2>Phòng ở</h2>
                        <p>Hina Homestay với nhiều loại phòng và mô hình mới, đáp ứng mọi yêu cầu của quý khách hàng.</p>
                        <p><span class="price cursive-font"></span></p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Content/Home/images/kg.jpg" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="~/Content/Home/images/kg.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2>Không gian</h2>
                        <p>Từ Homestay Quý khách có thể bao quát được toàn thung lũng hay thư giãn trong không gian tươi mát của các khu rừng thông.</p>
                        <p><span class="price cursive-font"></span></p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Content/Home/images/tn.jpg" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="~/Content/Home/images/tn.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2>Vui Chơi</h2>
                        <p>Là địa điểm lý tưởng để quý khách lưu lại trong những chuyến du lịch dài ngày hoặc để cảm nhận một không gian khác biệt .</p>
                        <p><span class="price cursive-font"></span></p>

                    </div>
                </a>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Content/Home/images/xe.jpg" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="~/Content/Home/images/xe.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2>Dịch Vụ</h2>
                        <p>Đáp ứng đày đủ nhu cầu của quý khách.Gồm nhiều dịch vụ cần thiết cho chuyến du lịch như là Thuê xe máy,Thuê dụng cụ cắm trại,...</p>
                        <p><span class="price cursive-font"></span></p>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Content/Home/images/am thuc.jpg" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="~/Content/Home/images/am thuc.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2>Ẩm thực</h2>
                        <p>Chắc chắn quý khách sẽ rất hài lòng vì chính nét ẩm thực của địa phương.Những món ăn mới lạ và nổi tiếng ở Đà Lạt.</p>
                        <p><span class="price cursive-font"></span></p>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Content/Home/images/c3.jpg" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="~/Content/Home/images/c3.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2>Trải Nghiệm Mới</h2>
                        <p>Quý Khách Được trãi nghiệm mô hình Camping mới lạ đầy hấp dẫn. Mang đến nhiều cảm giác mới lạ khi được cắm trại tại Homestay.</p>
                        <p><span class="price cursive-font"></span></p>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>

<div id="gtco-features">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                <h2 class="cursive-font">Dịch vụ chuyên nghiệp, đa dạng có thể làm hài lòng mọi khách hàng tới HomeStay</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i class="ti-face-smile"></i>
                    </span>
                    <h3>Phục Vụ</h3>
                    <p>Nhân viên thân thiện, tận tình, sẵn sàng hỗ trợ mọi yêu cầu của khách hàng sẽ khiến bạn không hề thất vọng.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i class="ti-thought"></i>
                    </span>
                    <h3>Phòng</h3>
                    <p>Phòng ở thoáng đãng sạch sẽ, đa tiện nghi giúp bạn có những phút giây nghỉ ngơi thoải mái nhất.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i class="ti-truck"></i>
                    </span>
                    <h3>Ẩm Thực</h3>
                    <p>Dịch vụ đồ ăn đa dạng, phong phú. Thay đổi liên tục giúp bạn được trải nghiệm ẩm thực một cách tuyệt vời nhất.</p>
                </div>
            </div>


        </div>
    </div>
</div>
@{
    QLKS.Models.dataQLKSEntities db = new QLKS.Models.dataQLKSEntities();
    List<QLKS.Models.tblTinNhan> dstn = db.tblTinNhans.OrderByDescending(t => t.ngay_gui).Take(5).ToList();
}

<div class="dropdown-divider"></div>
<link rel="stylesheet" href="~/Content/Slider/keymap.css">
<style>
    .chat-container {
    
        height: 400px;
        border: 1px solid #ccc;
        overflow-y: scroll;
        padding: 10px;
    }

    .chat-message {
        margin-bottom: 10px;
        animation: slide-in 1s linear;
    }
  
}

    }
</style>

<div id="chatContainer" class="chat-container">
    @foreach (var item in dstn)
    {
        <div class="chat-message">
            <a class="dropdown" href="">
                <strong>
                    @if (item.ma_kh == null)
                    {
                        @item.ho_ten
                    }
                    else
                    {
                        @item.tblKhachHang.ho_ten
                    }
                </strong>
                <span class="small float-right text-muted">@item.ngay_gui</span>

                <div class="dropdown-message small">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>

                    <br />
                    @item.noi_dung
                    <br />
                    @item.danh_gia<a>&#10030;</a>
                </div>
            </a>
        </div>
    }
</div>


</body>
</html>
<div class="gtco-cover gtco-cover-sm" style="background-color: #469eb8" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="gtco-container text-center">
        <div class="display-t">
            <div class="display-tc">
                <h1>&ldquo; Chất Lượng và Thái Độ Phục Vụ Của Chúng Tôi Là Giá Trị Của Bạn&rdquo;</h1>
                <p>&mdash; Thanh Nhàn&mdash;</p>
            </div>
        </div>
    </div>
</div>


    </div >
    </div >
    </div >
<script>
    function checkday() {
        var from1 = $("#datestart").val().split("/");
        var dateS = new Date(from1[2], from1[1] - 1, from1[0]);
        var from2 = $("#dateend").val().split("/");
        var dateE = new Date(from2[2], from2[1] - 1, from2[0]);
        var now = new Date();
        now.setHours(0);
        now.setSeconds(0);
        now.setMinutes(0);
        now.setMilliseconds(0);
        if (dateS < now) {
            alert("Ngày vào lớn hơn hoặc bằng ngày hiện tại !");
            return false;
        }

        if (dateE <= dateS) {
            alert("Ngày ra phải lớn hơn ngày vào ít nhất 1 ngày !");
            return false;
        }

        if (from1 == "" || from2 == "") {
            alert("Ngày tháng không được để trống !");
            return false;
        }

        return true;
    }
</script>
